.fullscreen{
    width: 800px;
    height: 400px;
   
    

/*
    display: block;
    /*-webkit-user-select: none;
    margin: auto;
    cursor: zoom-in;
    background-color: hsl(0, 0%, 90%);
    transition: background-color 300ms;*/
}
    
/*

.fullscreen-parent {
    width: 800px;
    height: 400px;
    margin: 0;
}*/
/*
.controls {
    position: absolute;
    left: 10%;
    bottom: 0%;
}

/*
@media (min-width: 570px){
    .retrato {
        width: 250px;
        height: 280px;
    }
}
*/
